/* style du header commun à toutes les pages */

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(11, 69, 77);
    color:white;
}

body{
    margin: 0; 
    padding: 0;
}

header{
    background: rgb(10, 117, 125);
    font-weight: bold;
    color: white;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img[alt="logo"]{
    height: 100px;
    margin-left: 20px;
}

img[alt="drapeau"]{
    margin-bottom: 25%;
    margin-left: 20px;
}

img[alt="account"]{
    height: 50px;
    margin-top: -18px;
}

menu{
    display:flex;
    float:right;
    margin-right: 5%;
}

a{
    outline: none;
    text-decoration: none;
    color:white;
}

menu>li{
    list-style: none;
    margin-left: 50px;
    font-style: normal;
}





/* Style de la page d'accueil */

.accueil{
    background-image: url("media/plongeuse.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    display: block;
    position: relative;
}

.accueil-box{
    background-color: rgba(11, 69, 77, 0.5);
    margin-top: 20%;
    float: inline-end;
    text-align: center;
    width: 600px;
}

.abyss-explore{
    font-family: 'Playfair Display';
    font-size: 80px;
}

.arguments{
    background-color: rgb(11, 69, 77);
    padding: 1%;
    text-align: center;
}

.arguments-boxGenerale{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.argument-boxUnique{
    box-sizing: border-box;
    background-color: rgb(3,169,181);    
    font-size: 15px;
    width: 250px;
    min-height: 320px;
    padding: 10px;
    margin: 10px;
}


.argument-boxUnique>h3{
    text-align: center;
    margin-bottom: 5%;
    min-height: 15%;
}

.argument-boxUnique>p{
    text-align: justify;
}

img[alt="argument-icone"]{
    height:80px;
    background-color: rgb(9,119,126);
    border-radius: 50%;
    padding: 2%;
    margin-top: -80px;
}

.destinations{
    background-color: rgb(9,119,126);
    text-align: center;
    padding: 1%;
}

.reviews-boxGenerale{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews{
    background-color: rgb(11, 69, 77);
    padding: 1%;
}

.reviews>h1{
    text-align: center;
}

.review_boxUnique{
    box-sizing: border-box;
    background-color: #03a9b5;
    text-align: justify;
    border-radius: 30px;
    font-size: 15px;
    min-height: 160px;
    width: 650px;
    padding: 10px;
    margin: 20px;
}

img[alt="review_icone"]{
    height:80px;
    background-color: rgb(9,119,126);
    border-radius: 50%;
    padding: 1%;
    margin-top: -50px;
}

.review_boxUnique>h3{
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
}

.review_boxUnique>p{
    margin-top: 3%;
}

.destination{
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 1%;
    background-color: #09777e;
}

.carousel {
    margin-top: 1%;
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
    animation: slideAnimation infinite 20s;
}

.carousel-item {
    flex: 0 0 auto;
    height: 400px;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel input {
    display: none;
}

.carousel-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    z-index: 2;
}

#slide1:checked ~ .carousel { transform: translateX(0); }
#slide2:checked ~ .carousel { transform: translateX(-25%); }
#slide3:checked ~ .carousel { transform: translateX(-50%); }
#slide4:checked ~ .carousel { transform: translateX(-75%); }

.div-texte-deco1,
.div-texte-deco2,
.div-texte-deco3,
.div-texte-deco4 {
    position: absolute;
    display: block;
    margin-bottom: 2%;
    bottom: 0;
    left: 0;
    width: 10%;
    background-color: rgba(11, 69, 77, 0.5);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.div-texte-deco1{
    margin-left: 15%;
}

.div-texte-deco2{
    margin-left: 40%;
}

.div-texte-deco3{
    margin-left: 65%;
}

.div-texte-deco4{
    margin-left: 90%;
}

.text-deco {
    font-size: 40px;
    padding: 1%;
}

@keyframes slideAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-75%);
    }
}





/* style de la page présentant nos services*/

.prestation-fond {
    background-image: url("media/fondPrestation.jpg");
    padding: 10%;
    width: 100%;
}

.prestation-titre{
    font-size: 40px;
    max-width: 45%;
}

.prestation-intro{
    text-align: justify;
    background-color: rgb(3,169,181);
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 5px 5px 5px #05262b;
}

.prestation-liste {
    background-color: rgb(10, 117, 125) ;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.prestation-liste h2{
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.prestation-intro p{
    font-size: 16px;
}

.prestation{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 2%;
}

.prestation-gauche {
    background-color:rgb(3,169,181) ;
    border-width: 1px;
    width: 40vh;
    text-align: center;
    margin-left: 15%;
    box-shadow: 5px 5px 5px 5px #05262b;
}

.prestation-centre {
    margin-left: auto;
    margin-right: auto  ;
    background-color:rgb(3,169,181);
    width: 40vh;
    border-width: 1px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #05262b;
}

.prestation-droite {
    margin-right: 15%;
    background-color:rgb(3,169,181) ;
    width: 40vh;
    border-width: 1px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #05262b;
}

.prestation img{
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}

.prestation-texte {
    text-align: left;
    margin-left: 2%;
}

.prestation-texte h3{
    min-height: 90px;
    font-size: 25px;
}

.prestation-texte p{
    font-size:  16px;
    margin-top: 15px;
}

.reservation{
    display:flex;
}

.prix {
    font-size: 30px;
}

.decouvrir{
    height: 30px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius:50px;
    text-transform: uppercase;
    text-align: center;
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px;
    margin-top:10%;
    margin-left:15%;
}

button:hover {
    opacity: 0.8;
}





/* Style de la page de présentation de notre équipe */

#titre{
    text-align: center;
    padding: 2%;
}

.portraits{
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

article{
    box-sizing: border-box;
    background-color: rgb(3,169,181);
    width: 350px;
    padding: 10px;
    margin: 20px;
    margin-bottom: -30px;
}

img[alt="photo"]{
    height:120px;
    background-color: rgb(9,119,126);
    border-radius: 50%;
    padding: 1%;
    margin-left: 25%;
    margin-top: -80px;
}

article>h2{
    text-align: center;
}

.presentation{
    text-align: justify;
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 18px;
    width: 100%;
}





/* style de la page présentant notre entreprise */

.aPropos1{
    background-color: rgb(11, 69, 77);
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
}

.aPropos2{
    background-color: rgb(9,119,126);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
}

.aPropos1 div {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.aPropos1 h1 {
    margin-bottom: 3%;
}

.aPropos-texte{
    font-size: large;
    font-style: normal;
    text-align: center;
    padding: 1%;
}

img[alt="aPropos-img"]{
    height: 250px;
    margin-left: 25px;
    margin-right: 25px;
}





/* style du formulaire de contact */

.fond-contact{
    background-image: url("media/fondPlongee.jpg");
    padding: 8%;
}

.contact{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    color: black;
}

.contact h1{
    font-size: 20px;
}

.contact .separation{
    width: 100%;
    height: 1px;
    background-color: rgb(10, 117, 125);
}

.contact .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contact .corps-formulaire .groupe{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: rgb(10, 117, 125);
    border-radius: 5px;
}

.contact .corps-formulaire .gauche .groupe i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: rgb(10, 117, 125);
}

.contact .corps-formulaire .droite{
    margin-left: 40px;
}

.contact .corps-formulaire .droite .groupe{
    height: 100%;
}

.contact .corps-formulaire .droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid rgb(10, 117, 125);
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}

.contact .pied-formulaire button{
    margin-top: 10px;
    background-color: rgb(10, 117, 125);
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.contact .pied-formulaire button:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 920px){
    .contact .corps-formulaire .droite{
    margin-left: 0px;
    }
}





/* Style formulaire de connexion et d'inscription*/

.page-membre{
    background-color: rgb(11, 69, 77);
    padding: 1%;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 117, 125);
    padding: 10px;
    border-radius: 6px;
    margin-left: 10%;
}

.formulaire-titre{
    text-align: center;
    font-size: 30px;
    margin: 0;
}

#genre{
    font-size: 16px;
    margin-bottom: 0;
}

hr{
    margin: 10px 0;
    height: 1px;
    width: 100%;
}

.nom-champs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nom-champs div {
    display: flex;
    flex-direction: column;
    width: 49%;
}

label{
    margin-bottom: 6px;
}

.decouvrir,
.inscription input{
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #0000;
    border-radius: 3px;
}

#pays-select{
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #0000;
}

.pays{
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #0000
}

input[type='reset'],
input[type="submit"]{
    margin-top: 15px;
    border : 1px solid black;
    cursor: pointer;
}

.connect{
    text-align:center;
    margin: 5px 0;

}

.connect-lien:hover{
    text-decoration: underline;
}

.bouton{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bouton div {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.page-membre{
    display: flex;
    flex-direction: row;
}

video{
    float: right;
    margin-left :50px;
    border-radius: 50px;
}





/* Style du pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #464646;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding-left: 80px;
    padding-right : 80px
}

.footer-section {
    font-size: 80%;
    flex : 1;
    margin: 0 ;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
    margin-bottom: 5%;
}

.footer-right>li{
    margin-left: 100px;
    padding: 3%;
}






/* Barre verticale */
.vertical-line {
    border-left: 1px solid white;
    border-width: 3px;
    height: 100px;
    margin: 0 20px;
}

.barre-horizontale {
    border: none;
    border-top: 1px solid #8f7d7d;
    margin: 0;
}